@model MVC_DataBase.Models.contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
