@model IEnumerable<MVC_DataBase.Models.contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
